@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,200;1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,body{height: 100%;}



.sidebar{
    float: left;
    width: 200px;
    padding: 10px 10px;
    height: 100%;
    overflow-y: auto;
    background-color: #000;
    overflow-x: hidden;
}

.sidebar-wraper{
    padding-bottom: 200px;
}

.sidebar_menu{
    margin: 10px 0;
    color: rgb(190, 190, 190);
}

.sidebar_logo > img{
    margin: 0 25px;
    max-width: 100px;
    width: 100% ;
    
}

.sidebar_menu > a{
    color: rgb(190, 190, 190);
    text-decoration: none;
    display: block;
    padding: 10px 0;
}
.sidebar_menu > a:hover{
    color: rgb(136, 136, 136);
   
}
.sidebar_menu i{
    margin: 0 20px;
}

.sidebar_menu > a.select{
    color: #FFF;
    
    border-radius: 10px;
}

.sidebar_menu_item{
    margin-top: 12px;
    cursor: pointer;
    vertical-align: middle;
}

.sidebar_menu p.sidebar_menu_tittle{
    color: #FFF;
    text-transform: uppercase;
    font-size: 14px;
}
.sidebar_menu_componente{
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    display: inline-block;
    color: Black;
    font-weight: bold;
    background: #FFF;
}

.sidebar_menu_item span{
    
    font-size: 14px;
    padding: 0 10px;
}
.sidebar_menu_item img{
    width: 30px;
    height: 30px;
    vertical-align: middle;
    display: inline-block;
}

.sidebar_playlist{
    padding: 20px 0;
    border-top: 1px solid rgb(40, 40, 40);
}

.sidebar_playlist > a{
    margin: 10px 0;
    display: block;
    color: rgb(190, 190, 190);
    text-decoration: none;
}
.sidebar_playlist > a:hover{
    color: #FFF;
}


.main{
    width: calc(100% - 200px);
    background: rgb(30, 30, 30);
    height: 100%;
    float: left;
    padding: 15px 50px;
    overflow-y: auto;
}

.main_row{
    display: flex;
    align-items: center;
    
 
}

.main_row > input{
    height: 30px;
    margin-left: 1.5rem;
    border-radius: 30px;
    padding: 10px;
}

.main_row_tittle{
    color: #FFF;
    margin-top: 1.6rem;
    font-size: 18pt;
}

.main_card{
    background:#282828;
    width: 35%; 
    cursor: pointer;
    padding: 20px;
    margin-bottom: 2rem;
}

.main_card > h2{
    color: #FFF;
}

.main_card > p{
    color: #888888;
}

.main_card:hover{
    box-shadow: #000 0 0 10px;
}

.card_row{
    margin-top: .5rem;
    border-top: 3px solid rgb(40, 40, 40);
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px 5px;
    transition-property: background;
    transition-duration: .5s;
    border-radius: 5px;
}

.card_row:hover{
    background: #282828;

}

.card_row> img {
    margin-right: 1rem;
}

.card_row > .text>  h3{
    color: #FFF;
    

}
.card_row > .text > p{
    color: rgb(155, 155, 155);
}
.player{
    width: 100%;
    height: 80px;
    padding: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    background: #292828;
    visibility: hidden;
}

.player_artist{
    width: 20%;
}
.player_artist > img{
    max-width: 70px;
    padding: 0 10px;
    display: inline-block;
    vertical-align: middle;
}
.player_artist > h3{
    display: inline-block;
    color: #FFF;
    font-weight: normal;
    font-size: 20px;
    vertical-align: middle;
    margin-left: 18px;
}
.player_artist > h3 > span{
    color: rgb(200, 200, 200);
    font-size: 13px;
}
.player_control{
    width: 70%;
    text-align: center;

}

.player_control_buttons a{

    color: #FFF;
    margin: 8px 15px;
    font-size: 18px;
}

.player_control_progress{
    width: 100%;
    max-width: 600px;
    height: 7px;
    margin-top: 20px;
    position: relative;
    border-radius: 8px;
    display: inline-block;
    background: rgb(130, 130, 130);
}
.player_control_progress_2{
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 7px;
    border-radius: 8px;
    background-color: #FFF ;
}
