@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,200;1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

html,body{height: 100%;}

body{
    
    transition: background .5s linear, color .5s linear;
    background: rgb(31, 31, 31);
    height: 200vh;
    width: 100%;
    overflow-x: hidden;
}

body.dark{
    background: rgb(32, 32, 32);
    color: #FFF;
}

header{
    float: left;
    width: 260px;
    padding: 10px 20px;
    height: 100%;
    overflow-y: auto;
    background-color: rgb(38, 38, 38);
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
    border-right: 1px rgb(60,60,60)solid;
    position: fixed;
   
    
    
}
.sidebar_logo{
    color: #DFDFDF;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    margin-bottom: 2rem;
    border-bottom: 1px rgb(60,60,60)solid;
    
}

.sidebar_menu .search{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    padding: 10px;
    height: 30px;
    background: rgb(31, 31, 31);
    border-radius: 8px;
    border: 1px rgb(29, 29, 29) solid;
    margin-bottom: 2rem;
}

.sidebar_menu .search input{
    background: rgb(31, 31, 31);
    border: rgb(60,60,60);
    width: 190px;
    outline: 0;
    color: #FFF;
}

::-webkit-input-placeholder {
    color: #DFDFDF;
 }
 
 :-moz-placeholder { /* Firefox 18- */
    color: #DFDFDF;  
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    color: #DFDFDF;  
 }
 
 :-ms-input-placeholder {  
    color: #DFDFDF;  
 }

 .sidebar_menu .menu_text{
     display: flex;
     flex-direction: column;
     border-bottom: 1px rgb(60,60,60)solid;
   
 }

 .sidebar_menu .menu_text a{
    color: #DFDFDF;
    margin-bottom: .5rem;
    

 }
 .sidebar_menu .menu_text a:hover{
     color: rgb(83, 83, 83);
 }
 .footer{
     color: #FFF;
     text-align: center;
     margin-top: 55vh;
 }

 .main_content{
     width: 85%;
     height: 100vh;
     color: #DFDFDF;
     font-family: 'Raleway', sans-serif;
     font-weight: 700;
     padding: 5rem  ;
     margin-left: 13rem;
 }
 .main_content h1{
  
   font-size: 2rem;
   border-bottom: 1px rgb(60,60,60) solid;
   margin-bottom: 2rem;
 }

 .main_cards{
     
     
     display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    
 }
 .main_cards img{
     border-radius: 10px;
     max-width: 100%;
     display: block;
    
 }

 .main_cards .card{
     margin-left: 1rem ;
     margin-bottom: 2rem;
 }

 .card:first-child{
    margin-left: 0;
}

.main_cards_musics{
    margin-top: 1rem;
    display: flex;
    
    max-width: 1600px;
    flex-wrap: wrap;

}

.card_music{
    
    cursor: pointer;
    padding: 10px;
}

.card_music img {
    
    box-shadow: #000 0 0 10px;
     max-width: 100%;
     display: block;
}
.card_music .autor{
    color: rgb(83, 83, 83);
}

.card_music:hover{
    background: rgb(38, 38, 38);
}


.player{
    width: calc(100% - 260px);
    
    height: 80px;
    padding: 10px;
    position: fixed;
    top: 0;
    margin-left: 16.4rem;
    
    display: flex;
    background: #292828;
    visibility: hidden;
    
}

.player_artist{
    width: 20%;
}
.player_artist > img{
    max-width: 70px;
    padding: 0 10px;
    display: inline-block;
    vertical-align: middle;
}
.player_artist > h3{
    display: inline-block;
    color: #FFF;
    font-weight: normal;
    font-size: 20px;
    vertical-align: middle;
    margin-left: 18px;
}
.player_artist > h3 > span{
    color: rgb(200, 200, 200);
    font-size: 13px;
}

.player_control{
    width: 70%;
    text-align: center;

}

.player_control_buttons a{

    color: #FFF;
    margin: 8px 15px;
    font-size: 18px;
}

.player_control_progress{
    width: 100%;
    max-width: 600px;
    height: 7px;
    margin-top: 20px;
    position: relative;
    border-radius: 8px;
    display: inline-block;
    background: rgb(130, 130, 130);
}
.player_control_progress_2{
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 7px;
    border-radius: 8px;
    background-color: #FFF ;
}
.mobile_menu{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    color: #FFF;
    visibility: hidden;
    align-items: center;
    font-size: 1.5rem;
    background-color: rgb(38, 38, 38);
}

.mobile_menu .mobile_logo{
    display: flex;
    align-items: center;
    font-family: 'Raleway', sans-serif;
}
.mobile_menu input{
    visibility: hidden;
}

.mobile_menu label{
    cursor: pointer;
}
@media (max-width: 800px){
    header{
        visibility: hidden;
    }
    .main_content{
        width: 100%;
        margin-left: 0;
    }
    .mobile_menu{
        visibility: visible;
    }

    .player{
    width: 100%;
    height: 80px;
    padding: 10px;
    right: 0;
    position: absolute;
    top: 80px;
    display: flex;
    background: #292828;
    
    }
    .player_artist > h3, span{
        visibility: hidden;
    }
}